body {
    margin: 0px auto 50px auto;
    padding: 0;
    max-width: 700px;
    font-family: 'Smythe', cursive;
} 

header{
    background-image: url(./images/bg.png);
    color: white;
    padding: 5px 50px;
}

#header-heading{
    font-size: 39px;
}

#header-description{
    font-size: 22.42px;
}

.item{
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.item-left{
    display: flex;
    align-items: center; 
}

.item-emoji{
    font-size: 80px;
}

.item-left-right{
    margin-left: 10px;
}

.item-heading{
    color: #000000;
    font-size: 28px;
}

.item-ingredients{
    color: #8B8B8B;
    font-size: 16px;
}

.item-price{
    color: #000000;
    font-size: 20px;
}

.add-btn{
    border-radius: 50%;
    font-size: 32px;
    color: #3C3C3C;
    border: 2px solid #DEDEDE;
    padding: 15px;
    cursor: pointer;
}

#checkout{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

#checkout.hidden{
    display: none;
}

#checkout-heading{
    font-size: 28px;
    text-align: center;
}

#cart-items{
    margin: 20px 0px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.cart-item-title{
    display: flex;
}

.remove-btn{
    font-size: 12px;
    color: #BBBBBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.price{
    font-size: 20px;
}

#total-price{
    border-top: 3px solid black;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.green-btn{
    background-color: #16DB99;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
}

/* Form */

form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}

.hidden{
    display: none;
}

form p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

input{
    margin: 15px 0px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #757575;
    font-size: 20px;
}

/* to remove arrows from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#cut-btn{
    position:fixed;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
}

#thank-notice{
    background-color: #ECFDF5;
    text-align: center;
}

#thank-notice p{
    font-size: 32px;
    color: #065F46;
    padding: 25px;
}
